* {
  margin: 0;
  padding: 0;
}
body {
  color: red;
  background: pink;
  font-family: garamond, constantia, sans-serif;
}
h1 {
  padding: 10px;
}
h3 {
  padding: 15px;
}
img {
  width: 300px;
}
.love-message {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 50px;
  color: black;
  width: 100%;
  font-family: "arial black", sans-serif;
}
nav {
  background-color: black;
}
nav ul {
  padding: 10px;
  margin: 0;
  list-style: none;
}
nav ul li {
  padding: 5px;
  color: purple;
  display: inline;
}
nav ul li:hover {
  background: red;
}
nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
div.circle {
  width: 100px;
  height: 100px;
  background: green;
  margin: 1em;
  border-radius: 50%;
}
div.square {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,.8);
  margin: 1em;
}
div.triangle {
  width: 100px;
  height: 100px;
  margin: 1em;
  border-bottom: 100px solid red;
  border-left:  100px solid transparent;
  border-right: 100px solid transparent;
}
