* {
  margin: 0;
  padding: 0;
}
body {
  color: red;
  background: pink;
  font-family: garamond, constantia, sans-serif;
}
h1 {
  padding: 10px;
}
h3 {
  padding: 15px;
}
ul {
  padding: 10px;
  margin-left: 20px;
  list-style: square;
}
ul li {
  color: purple;
}
img {
  width: 300px;
}
a {
  color: green;
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.love-message {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 50px;
    color: black;
    width: 100%;
    font-family: "arial black", sans-serif;
}
